.product-card {
  border: 1px solid #ccc;
  width: 200px;
  padding: 16px;
  margin-top: 16px;
}

.product-card img {
  width: 100%;
}

h1 {
  font-size: 2em;
  font-weight: 900;
  color: #333;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
  color: #333;
}

p {
  font-size: 1em;
  font-weight: 400;
  color: #333;
}
